.body{
    font-family: sans-serif;
}

h1{
    border: 3px solid rgb(255, 145, 0);
    text-align: center;
}

.portal{
    border: 10px double rgb(43, 43, 43);
    color: rgb(0, 0, 0);
    background-color: #f2f2f2;
    width: 90%;
    height: 500px;
    margin: 10px;
    position: relative;

}

.portal hr{
    margin-top: 60px; /* Adjust as needed to avoid overlap with stats/button */
    margin-bottom: 10px;
}

.stat1{
    border: 3px solid rgb(0, 204, 255);
    height: 85px;
    width: 85px;
    top: 10px;
    right: 10px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-style: bold;
}

.stat2{
    font-size: 20px;
    font-style: bold;
    position: absolute;
     height: 85px;
    width: 85px;
    top: 10px;
    left: 8px;
    text-align: center;
    }

#startBtn{
    display: block;
    background-image: url(img/activedice.png);
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
   }

#startBtn a:hover{
    display: block;
    background-image: url(img/restingdice.png);
    background-size: contain;
    position: absolute;
}

